/* Put your CSS here */
html, body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

.container {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;}

.nav-container {
  padding-left: 20px; }

/* Main Styling Start */
.main-container {
  margin: 40 auto;
  width: 700; }

.main-container .hero-unit {
  line-height: 30px;
  border-radius: 15px;
  text-align: left; }

.hero-unit h1 {
  font-size: 50px; }

.demo .btn.btn-primary {
  font-size: 20px;
  padding: 12px;
  width: inherit; }

.demo > div > p {
  margin-bottom: 0px; }

.keyword-grid {
  margin-left: -20px;
  margin-right: -15px; }

.keyword-grid .span4 {
  margin-right: 1.7%; }

.small-hero-unit {
  margin-left: 20px;
  padding: 30px;
  background-color: #eee;
  border-radius: 15px; }

.small-hero-unit > i > label {
  font-size: 18px;
  display: inline-block;
  margin-left: 30px; }

.small-hero-unit > i {
  margin-bottom: 20px; }

.small-description > p {
  min-height: 30px;
  max-height: 30px; }

/* Main Styling End */
/* Editor Styling Start */
.edit_panel {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 10px;
  text-align: center; }

.edit_panel > p {
  text-align: center;
  margin-top: 10px; }

.edit_panel > p > a {
  margin: 0 30px 0 30px; }

#editor {
  background-color: black;
  pointer-events: all; }

.timeline_panel {
  text-align: center; }

#timeline {
  border-style: solid;
  border-radius: 6px;
  font-size: 15px;
  text-anchor: middle; }

.standard_bar {
  fill: #f5f5f5; }

.division_bar {
  fill: black; }

.bar {
  stroke: lightgreen; }

/* Editor Styling End */
