$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";


/* Base Color: #4894B9 */
/* Put your CSS here */
html, body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  //padding-bottom: 27px;
}

.nav-container {
  padding-left: 20px;
}

/* Main Styling Start */
.main-container {
  margin: 40px auto;
  width: 700;
  overflow: hidden;
}
.main-container .hero-unit {
  line-height: 30px;
  border-radius: 15px;
  text-align: left;
}
.hero-unit h1 {
  font-size: 50px;
}

.demo .btn.btn-primary {
  font-size: 20px;
  padding: 12px;
  width: inherit;
}
.demo > div > p {
  margin-bottom: 0px;
}

.keyword-grid {
  margin-left: -20px;
  margin-right: -15px;
}
.keyword-grid .span4 {
  margin-right: 1.7%;
}

.small-hero-unit {
  margin-left: 20px;
  padding: 30px;
  background-color: #eee;
  border-radius: 15px;
}
.small-hero-unit > i > label {
  font-size: 18px;
  display: inline-block;
  margin-left: 30px;
  cursor: default;
}
.small-hero-unit > i {
  margin-bottom: 20px;
}
.small-description > p {
  min-height: 30px;
  max-height: 30px;
}
/* Main Styling End */

/* Editor Styling Start */
.edit_panel {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
.edit_panel > p {
  text-align: center;
  margin-top: 10px;
}
.edit_panel > p > a {
  //border: none;
  margin: 0 30px 0 30px;
}
#editor {
  background-color: black;
  pointer-events: all;
}

.timeline_panel {
  text-align: center;
}
#timeline {
  border-style: solid;
  border-radius: 6px;
  font-size: 15px;
  text-anchor: middle;
}

.standard_bar {
  fill: #f5f5f5;
}
.division_bar {
  fill: black;
}
.bar {
  stroke: lightgreen;
}

.modal-body .music-item {
  padding-right: 20px;
}
.modal-body > input, textarea {
  padding-left: 10px;
  margin-left: 10px;
}
.modal-body > input:focus {
  outline: none;
}
/* Editor Styling End */

/* Play List Styling Start */
.list-search-area {
  padding: 15px 0;
}
.list-search-area > label {
  cursor: default;
  border-radius: 10px;
}
.list-search-area > .btn-primary:hover {
  background-color: #438eb9 !important;
}

.search-box {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}
.search-query:focus {
  outline: none;
}
.search-box .search-query {
  padding-left: 30px;
  width: 400px;
  line-height: 25px;
}
.search-box .fa-search {
  position:relative;
}
.search-box .fa-search:before {
  position:absolute;
  left: 15px;
  top: -10px;
}

.divider-horizontal {
  //margin-top: 15px;
  border-bottom: 2px solid #4894B9;
}

.row-fluid {
  //height: 100%;
}
.row-fluid .span3 {
  margin-left: 20px;
}
.span3 .divider-vertical {
  height: 100%;
  border-left: 2px solid #4894B9;
  margin-top: 0px;
}

.playlist {
  //margin-top: 15px;
  //width: 910px;
}
.playlist > ol {
  margin-left: 0px;
}
.playlist ol > div > li {
  margin: 20px 0 10px 45px;
  font-size: 22px;
}
.playlist .description {
  margin-left: 35px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #a8a8a8;
  display: block;
}
.playlist .publishing {
  display: inline-block;
  padding-left: 20%;
  margin-top: 20px;
}
.playlist .publisher {
  padding-left: 20px;
  margin-top: 5px;
}
.publisher-inform {
  display: inline-block;
}
.publisher-name {
  font-size: 15px;
  color: cadetblue;
  text-align: center;
}

player-component {
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  display: inline-block;
  width: 450px;
  height: 150px;
  text-align: center;

}
player-component .span4 {
  height: 100%;
}
player-component .span8 {
  height: 100%;
}
.play-control > a {
  color: black;
  text-decoration: none;
  padding: 13% 0;
}
.play-control > a:hover {
  text-decoration: none;
  color: cadetblue;
}
.inform-text {
  //height: 50%;
  font-size: 32px;
  padding: 8% 0;
}
player-component .divider-horizontal {
  border-color: black;
  margin-top: 0px;
}
.social {
  padding: 4% 0;
}
.social > a {
  padding-left: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  min-height: 67px;
}
.social > a:hover {
  text-decoration: none;
  color: cadetblue;
}
.social-inform-text {
  font-size: 15px;
}
.social-act-text {
  display: block;
  font-size: 20px;
  margin-top: -40px;
  margin-bottom: 20px;
  text-align: center;
}
.social .dropdown {
  display: inline-block;
}
.social .dropdown > a {
  padding-left: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  min-height: 67px;
}
.social .dropdown > a:hover {
  text-decoration: none;
  color: cadetblue;
}

.filter-area {
  padding-left: 30px;
  padding-top: 40px;
}
.filter-area .filter-checkbox {
  margin: -2px 0 0 0;
  font-size: 16px;
}
.filter-name {
  padding-left: 6px;
  font-size: 14px;
}

.filter-area > .search-box {
  display: block;
  margin-left: 0px;
  margin-top: 10px;
}
.filter-area > .search-box .search-query {
  width: 140px;
  line-height: 20px;
}
.filter-alert {
  margin-top: 15px;
}

/* Play List Styling End */

/* Music List Styling Start */

.music {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.music-information {
  display: inline-block;
}
.music-description {
  margin-left: 20px;
  padding-top: 10px;
  font-size: 14px;
  color: #a8a8a8;
}
.music-title {
  font-size: 26px;
  display: inline-block;
  width: 350px;
}
.music-time {
  padding-left: 20px;
  font-size: 15px;
  display: inline-block;
}
.music-artist {
  font-size: 15px;
  display: inline-block;
}
.music-control {
  float: right;
  display: inline-block;
}
.music-control > a {
  padding-left: 12px;
  color: black;
  text-decoration: none;
  display: inline-block;
}
.music-control > a:hover {
  text-decoration: none;
  color: cadetblue;
}
.music-control > a .social-act-text {
  position:absolute;
  width:2.5em;
  text-align: center;
}
.music-control .fa-heart-o {
  position: relative;
}

.music-information-area {
  padding: 30px 30px;
  font-size: 14px;
}
.music-image {
  margin-bottom: 20px;
}
.music-item {
  width: 100px;
  font-size: 20px;
  display: inline-block;
  padding: 10px 0px;
}

/* Music List Styling End */

.scrollable {
  overflow-y: auto;
  height: 100%;
}
.scrollable .divider-horizontal {
  margin-top: 15px;
}
.max-height {
  height: 100%;
}
.no-overflow {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}
::-moz-scrollbar {
  width: 0px;
}

/* Login Styling Area Start */
.login {
  display: inline-block;
  float: right;
  height: 40px;
  width: auto;
  padding-right: 15px;
}
.login .divider-vertical {
  display: inline-block;
  height: 40px;
}
.login .dropdown {
  max-height: 40px;
}
.login .dropdown > a {
  text-decoration: none;
}
.login .dropdown > a:hover {
  text-decoration: none;
  color: #aeffca !important;
}
.login .dropdown > a:focus {
  font-size: 13px;
  text-shadow: none;
  color: #ffffff;
}
.login-btn {
  padding: 0px 10px;
  vertical-align: top;
  margin-top: 11.5px;
  color: #ffffff;
  font-size: 15px;
}

/* Login Styling Area End */

.list-selection {
  padding: 15px 0;
}
.list-selection > label {
  margin-right: 15px;
}

.btn-primary.disabled,
.btn-primary[disabled] {
  border-color: lightblue !important;
  background-color: lightblue !important;
}

.row-fluid .span9 {
  margin-left: 0px;
}

.information-of-me {
  padding: 40px 30px 30px 30px;
  font-size: 25px;
}
.user-information {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.user-information-item {
  width: 100px;
  display: inline-block;
  padding: 5px 0px;
}
.user-name {
  font-size: 25px;
}