html, body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin-bottom: 25px; /*25px without fancymoves*/
}

footer{
    border: 1px solid;
    border-color: #438eb9;
    vertical-align: bottom;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 25px; /*25px without fancymoves*/
    background:#fff;
    z-index: 100;
}

div.player {
        /**********player box size 조정***********/
        width: 640px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
}
div.player #capsule {
        border: 1px solid #000;
        background: #959595; /* Old browsers */
        background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */

        overflow: hidden;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        display: inline-block;

        /********플레이어의 내비게이션 캡슐 사이즈 조정*******/
        width: 420px;
        height: 15px;
        margin-top: 4px;
}
div.player #capsule #cursor {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        background: #d0e4f7; /* Old browsers */
        background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
        
        width: 0;
        display: inline-block;
        height: 100%;
}
div.player span.time {        
        display: inline-block;
        margin-left: 5px;
        margin-right:5px;
        margin-bottom: 5px;
}
div.player div.time-controls {
        float: left;
        color: #0099CC;

}

div.player div.buttons {
        float: left;
        margin-left: 5px;
        margin-right:5px;
        margin-top: 5px;
        color: #438eb9;
}

div.player div.buttons i:hover{
        opacity: 0.85;
}
div.player div.buttons i:active{
        opacity: 1;
}
div.player div.buttons i {
        opacity: 0.7;
        margin-right: 3px;
        margin-left: 3px;
}

div #imageSlider {
    width: 100%;
}

div #window {
    width: 900px;
    height: 130px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 5px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

div .panel {
    float: left;
    margin: 0 10px;
}

div .panel img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    transition: width 0.5s, height 0.5s, margin-top 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, margin-top .5sgit ;
}
div .panel p {
    /*css for text below album art*/
    margin: 0 auto;
    color: #fff;
    width: 80px;
    position: relative;
    top: -2em;
    text-align: center;
    text-shadow: 0px 0px 2px #555;
}

div #scroll {
    position: absolute;
    height: 120px;
    margin: 0;
    padding: 0;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
}

div #sliderNav {
    position: absolute;
    height: 20px;
    width: 900px;
    border-style: none;
    margin: 0 auto;
    padding: 0;
    bottom: 0px;
    text-align: center;
}

.navDot {
    color: #777;
    margin: 0 5px;
}

div .scrollbutton {
    color: black;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    text-align: center;
}