<div class="edit_panel">
    <editor-visualization>
        <svg id="editor" width="98%" height="65%"></svg>
    </editor-visualization>
    <p>
        <a class="btn btn-info" ng-click="start()">Start</a>
        <a class="btn btn-success" ng-click="end()">Finish</a>
        <a class="btn btn-inverse" ng-click="save()">Save</a>
        <label style="display: inline-block; position: absolute; right: 150px; bottom: 22%;">
            Composing Time: {{ composingTime | secondToMMSS }}</label>
    </p>
</div>
<div class="timeline_panel">
    <timeline-visualization>
        <svg id="timeline" width="98%" height="16%"></svg>
    </timeline-visualization>
</div>