<div class="continer-fluid">
    <div class="span6">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="input-block-level" placeholder="Email address">
            <input type="password" class="input-block-level" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me </input>
            </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        </form>
        <br/>
        <br/>
        <br/>
        <button class="btn btn-primary" ng-click="login()">
            Connect With Facebook
        </button>
    </div>
</div>