<div class="main-container">
    <div class="hero-unit">
        <div class="title">
            <h1><strong>{{ title }}</strong></h1>
            <br>
            <p class="description">
                <strong>{{ description }}</strong>
            </p>
            <br>
            <br>
        </div>

        <div class="demo">
            <div ng-controller="DemoCtrl">
                <p><button class="btn btn-primary" ng-click="start()">Sound Playing</button></p>
            </div>
        </div>
    </div>

    <div class="keyword-grid">
        <div class="row-fluid">
            <div ng-repeat="keyword in keywordList">
                <div class="span4">
                    <div class="small-hero-unit">
                        <!--<i class='{{ keyword.icon }}'><label>{{ keyword.name }}</label></i>-->
                        <img src="{{ keyword.image }}" alt="{{ keyword.alt }}">
                        <div class="small-description">
                            <p>{{ keyword.description | shortString:30 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
