<div class="music">
    <div class="music-information">
        <div>
            <div class="music-title">{{ music.title }}</div>
            <div class="music-time"> ({{ music.playtime | secondToMMSS }}) </div>
            <div class="music-artist"> by {{ music.artist }} </div>
        </div>
        <div class="music-description">
            {{ music.description | shortString }}
        </div>
    </div>
    <div class="music-control">
        <a class="fa fa-play-circle-o fa-4x" ng-click="play()"></a>
        <a class="fa fa-heart-o fa-4x" ng-click="like()" ng-mouseenter="onLike=true" ng-mouseleave="onLike=false">
            <span class="social-act-text" ng-show="onLike">{{ music.like }}</span>
        </a>
        <a class="fa fa-share-square-o fa-4x" ng-click="share()">
        </a>
        <a class="fa fa-info-circle fa-4x" ng-click="info()"></a>
    </div>
</div>