<div class="list-search-area">
    <label class="btn btn-primary">Music Name</label>
    <div class="search-box">
        <i class="fa fa-search"></i>
        <input class="search-query" placeholder="Search..." ng-model="musicName"/>
    </div>
</div>
<div class="divider-horizontal"></div>
<div class="row-fluid max-height">
    <!-- Music List Area -->
    <div class="span9">
        <div infinite-scroll="listhandler.nextPage()" infinite-scroll-disabled="listhandler.busy">
            <div class="scrollable">
                <div ng-repeat="music in listhandler.items">
                    <music-component></music-component>
                    <div class="divider-horizontal"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Music Information Area -->
    <div class="span3 max-height">
        <div class="divider-vertical">
            <div class="music-information-area" ng-show="show">
                <img class="music-image" ng-src="{{music.albumArt}}" />
                <div class="music-item-description">
                    <div class="music-item">Title</div><br/> {{ music.title }} <br/>
                    <div class="music-item">Description</div><br/> {{ music.description }} <br/>
                    <div class="music-item">Artist</div> : {{ music.artist }} <br/>
                    <div class="music-item">Play Time</div> : {{ music.playtime | secondToMMSS }} <br/>
                    <div class="music-item">Like</div> : {{ music.like }} <br/>
                    <div class="music-item">Comment</div> : {{ music.comment }} <br/>
                </div>
            </div>
        </div>
    </div>
</div>