<div class="sharing">
    <div class="row-fluid">
        <div class="span6" style="text-align: center;">
            <div class="image-view">
                <img class="album-art img-rounded img-responsive" ng-src="{{ music.albumArt }}" />
            </div>
        </div>
        <div class="span6" style="text-align: left;">
            <h6 style="display: inline-block;"> Title </h6>
            <span style="float: right;">({{ music.playtime | secondToMMSS }})</span>
            <br/>
            <span class="form-control input-lg">
                <strong>{{ music.title }}</strong>
            </span>

            <h6> Artist </h6>
            <span class="form-control input-lg">
                <strong>{{ music.artist }}</strong>
            </span>
        </div>
    </div>
    <div class="description">

        <h6> Description </h6>
        <div class="form-control input-lg">
            <strong>{{ music.description }}</strong>
        </div>

        <h6> Share </h6>
        <div class="form-control input-lg" style="word-wrap: break-word;">
            <strong>{{ music.share }}</strong>
        </div>
    </div>
</div>
